@use "@mixin" as *;

.aside {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--main-width);
}
