@use "@mixin" as *;

.theme {
    width: 100%;
    padding: 8.747rem 0 9.621rem;
    display: flex;
    flex-direction: column;
    gap: 3.499rem;
}
.lead {
    padding: 0 3.28rem;
    > * {
        &:nth-child(1) {
            margin-bottom: 3.499rem;
        }
        &:nth-child(2) {
            margin-bottom: 2.624rem;
        }
        &:nth-child(3) {
            margin-bottom: 1.312rem;
        }
    }
}
.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    span {
        @include fts(13.12, 13.12);
        @include ls(40);
        font-weight: 500;
        color: var(--primary_color);
    }
    svg {
        width: 1.312rem;
        height: 1.22rem;
        * {
            fill: var(--primary_color);
        }
    }
}
.image {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
