@use "@mixin" as *;

.qr {
    padding: 2rem;
    background: rgba(white, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.text {
    @include fts(14, 19.6);
    @include ls(20);
    color: var(--white);
}
.image {
}
